.hotel-search__form {
  display: flex;
  background-image: url("../img/filter_background.jpg");
  background-repeat: no-repeat;
  background-color: #00bfff;
  width: 1200px;
  padding-top: 27px;
  padding-left: 72px;
  min-height: 218px;
  margin-bottom: 30px;
  box-sizing: border-box;
  color: #ffffff;
}
